In [60]:
import numpy as np
import pandas as pd

In [61]:
data= pd.read_csv("seattleWeather_1948-2017.csv")

In [62]:
data

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

In [63]:
data.shape

(25551, 5)

In [64]:
data.size

127755

In [65]:
data.describe()

               PRCP          TMAX          TMIN
count  25548.000000  25551.000000  25551.000000
mean       0.106222     59.544206     44.514226
std        0.239031     12.772984      8.892836
min        0.000000      4.000000      0.000000
25%        0.000000     50.000000     38.000000
50%        0.000000     58.000000     45.000000
75%        0.100000     69.000000     52.000000
max        5.020000    103.000000     71.000000

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    25551 non-null  object
 1   PRCP    25548 non-null  float64
 2   TMAX    25551 non-null  int64
 3   TMIN    25551 non-null  int64
 4   RAIN    25548 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 998.2+ KB

In [67]:
data.isna().sum()

DATE    0
PRCP    3
TMAX    0
TMIN    0
RAIN    3
dtype: int64

In [68]:
data['PRCP'].fillna(data['PRCP'].mean(), inplace=True)

In [69]:
print(data.groupby('RAIN').mean())

           PRCP       TMAX       TMIN
RAIN
False  0.000000  63.831854  45.586633
True   0.248968  53.779541  43.071101

In [70]:
data['RAIN'].fillna(data['RAIN'].mean(), inplace=True)

In [71]:
data.isna().sum()

DATE    0
PRCP    0
TMAX    0
TMIN    0
RAIN    0
dtype: int64

In [72]:
x= data.drop('RAIN', axis=1)

In [73]:
x.head()

         DATE  PRCP  TMAX  TMIN
0  1948-01-01  0.47    51    42
1  1948-01-02  0.59    45    36
2  1948-01-03  0.42    45    35
3  1948-01-04  0.31    45    34
4  1948-01-05  0.17    45    32

In [74]:
x= x.drop('DATE', axis=1)

In [75]:
x.head()

   PRCP  TMAX  TMIN
0  0.47    51    42
1  0.59    45    36
2  0.42    45    35
3  0.31    45    34
4  0.17    45    32

In [76]:
y= data['RAIN']

In [77]:
y.head()

0    True
1    True
2    True
3    True
4    True
Name: RAIN, dtype: object

In [78]:
y = y.astype('str')

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.2, random_state= 2)

In [81]:
print(x_train.shape, x_test.shape, x.shape)

(20440, 3) (5111, 3) (25551, 3)

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
model = LogisticRegression()

In [84]:
model.fit(x,y)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [86]:
ypred= model.predict(x_test)

In [87]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [88]:
accuracy_score(y_test,ypred)

0.9442379182156134

In [90]:
confusion_matrix(y_test, ypred)

array([[   0,    0,    1],
       [   0, 2916,    0],
       [   0,  284, 1910]])